.money-list-container {
    position: relative;
}

.money-list-container .card-container {
    padding: 15px;
    background: #FFFFFF;
}

.money-list-container .card-container .card {
    border: 1px solid #F7BA01;
}

.money-list-container .card-container .card + .card {
    margin-top: 10px;
}

.money-list-container .withdraw-container {
    position: absolute;
    left: 0;
    bottom: 35px;
    box-sizing: border-box;
    padding: 10px 15px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 35px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
}

.money-list-container .withdraw-container .money-container {
    width: 60%;
}

.money-list-container .withdraw-container .money-container p {
    margin: 0;
    text-align: center;
    color: #C3C3C3;
}

.money-list-container .withdraw-container .money-container p span {
    color: #FF672B;
}
