.menu-modal-container {
    padding: 45px 30px;
    background: #FEF2CE;
    border: 6px solid #FEA60C;
    border-radius: 8px;
}

.menu-modal-container .menu-modal-title {
    position: absolute;
    top: -20px;
    left: 38%;
}

.menu-modal-container .menu-modal-content {
    width: 100%;
}
